:root {
  --cafe: #d6c3a5;
  --cafe-oscuro: #b49f82;
  --negro: #1a1a1a;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--blanco);
  color: var(--negro);
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: var(--blanco);
  position: sticky;
  top: 0;
}

.logo {
  font-weight: 600;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: var(--negro);
  font-size: 14px;
}

.btn {
  background: var(--cafe);
  padding: 10px 18px;
  border-radius: 4px;
  color: var(--negro);
}

.btn:hover {
  background: var(--cafe-oscuro);
}

/* HERO CON IMAGEN */
.hero {
  padding: 140px 20px;
  text-align: center;
  background:
    linear-gradient(
      rgba(214,195,165,0.75),
      rgba(214,195,165,0.75)
    ),
    url("preview1.jpg");
  background-size: cover;
  background-position: bottom;
}


/* SECCIONES */
.section {
  padding: 80px 60px;
  text-align: center;
}

/* PROYECTOS CON IMAGEN */
#proyectos {
  background:
    linear-gradient(
      rgba(255,255,255,0.92),
      rgba(255,255,255,0.92)
    ),
    url("fabian-03.jpg");
  background-size: cover;
  background-position: center;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.card {
  border: 1px solid var(--cafe);
  padding: 30px;
  border-radius: 6px;
  background: var(--blanco);
}

.card {
  background: white;
  color: #1a1a1a;
}


/* CONTACTO */
#contacto {
  background:
    linear-gradient(
      rgba(214,195,165,0.85),
      rgba(214,195,165,0.85)
    ),
    url("fabian-01.jpg");
  background-size: cover;
  background-position: top;
}

.contact-links a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--negro);
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  background: var(--negro);
  color: var(--blanco);
}

.project-card {
  text-decoration: none;
  color: var(--negro);
  transition: transform 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 15px;
}

.project-card:hover {
  transform: translateY(-6px);
}

.hero-intro {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.hero-description {
  max-width: 800px;
  margin: 20px auto 0;
  font-size: 16px;
  line-height: 1.7;
}

.hero,
#proyectos,
#contacto {
  color: white;
}
.hero h1,
.section h2 {
  text-shadow: 0 2px 8px rgba(0,0,0,0.4);
}
